.loading {
  text-align: center;
  margin-top: 1rem;
}

.new-note {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  outline: none;
}

.editor-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 70%;
  overflow: auto;
}

.menu-container {
  padding: 20px;
}

.image {
  width: 30px;
  background-color: white;
}

.is-active {
  box-shadow: 0 0 3px 2px #ffd700;
}

.menu-container button {
  margin-right: 4px;
}

.menu-container button:hover {
  cursor: pointer;
}

.header-button-container {
  display: inline-block;
  position: relative;
}

.header-dropdown {
  position: absolute;
  left: 0;
  list-style: none;
  padding: 10px 10px;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 4px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.header-dropdown li {
  padding: 5px 20px;
  border-radius: 10px;
}

.header-dropdown li:hover {
  cursor: pointer;
  background-color: gray;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.create-btn,
.cancel-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.create-btn {
  background-color: #ffd700;
  color: black;
}

.create-btn:hover {
  background-color: #ffc700;
}

.cancel-btn {
  background-color: #ff0000;
  color: white;
}

.cancel-btn:hover {
  background-color: #ff4d4d;
}

.title-input {
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-color: transparent;
  outline: none;
  color: #ffd700;
}

.tags-input {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-color: transparent;
  color: #ff4d4d;
  outline: none;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
  font-size: 1.3rem;
}

.tag {
  background-color: #ff4d4d;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 15px;
}

.tags-place {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  color: #333333;
}

.tags-place:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
